<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide Complet sur les Matériaux de Construction : Choix, Utilisation et Durabilité</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">


  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li>
            <a href="mailto:info@homeverse.com" class="header-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@homeverse.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>15/A, Nest Tower, NYC</address>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>

          <button class="header-top-btn">Add Listing</button>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Homeverse logo">
        </a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Homeverse logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="https://www.profitablegatecpm.com/kyarfcv72p?key=346d33f9608dc747349c98c052b144ca" class="navbar-link" data-nav-link>Application</a>
              </li>

              <li>
                <a href="#about" class="navbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="navbar-link" data-nav-link>Service</a>
              </li>

              <li>
                <a href="#property" class="navbar-link" data-nav-link>Property</a>
              </li>

              <li>
                <a href="blog" class="navbar-link" data-nav-link>Blog</a>
              </li>

              <li>
                <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">

          <button class="header-bottom-actions-btn" aria-label="Search">
            <ion-icon name="search-outline"></ion-icon>

            <span>Search</span>
          </button>

          <button class="header-bottom-actions-btn" aria-label="Profile">
            <ion-icon name="person-outline"></ion-icon>

            <span>Profile</span>
          </button>

          <button class="header-bottom-actions-btn" aria-label="Cart">
            <ion-icon name="cart-outline"></ion-icon>

            <span>Cart</span>
          </button>

          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>

<main>
<script type="text/javascript">
	atOptions = {
		'key' : '2c7b810f5e9a37d1301226060eca117c',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/2c7b810f5e9a37d1301226060eca117c/invoke.js"></scr' + 'ipt>');
</script>

<article class="post-13638 page type-page status-publish has-post-thumbnail hentry category-construction" id="post-13638" style="height: auto !important;">
<header class="entry-header">

<div class="breadcrumb">
    <a href="">Accueil</a>&nbsp;&gt;&nbsp;
    <a href="">Construction</a></div>
<h1 class="entry-title">Dans quels cas faire appel à un expert en bâtiment agréé ?</h1>
</header>

<div class="entry-content" style="height: auto !important;">
<p>Le recours à un expert en bâtiment agréé est de plus en plus déterminant. Ses services sont indispensables, notamment dans le contexte actuel de l’immobilier où les enjeux financiers sont en général considérables. Comment trouver le bon spécialiste ? Dans quelles situations pouvez-vous profiter de ses prestations ?</p>
<h2>Quand faut-il faire appel à un expert en bâtiment agréé ?</h2>
<p>En cas de vice de construction, l’implication d’un professionnel devient une démarche inévitable. Il intervient afin de procéder à une évaluation objective des malfaçons décelées, que ce soit pendant la phase de réalisation ou après la réception des travaux. Il informe ensuite le maître d’ouvrage des réparations nécessaires.</p>
<script async="async" data-cfasync="false" src="//pl22316280.profitablegatecpm.com/02a6e6a5eddbfb6dae3854f5d253716d/invoke.js"></script>
<div id="container-02a6e6a5eddbfb6dae3854f5d253716d"></div>
<p>Le recours à un spécialiste agréé est également requis dans les situations de litiges entre la société chargée du site et le client. Ce type de conflit découle de désaccords concernant la qualité des matériaux, le respect des délais ou le montant des honoraires. Le professionnel, grâce à son impartialité et à sa compétence technique, joue le rôle de l’arbitre pour la résolution du problème.</p>
<p>Quand vous souhaitez acquérir un bien immobilier, en tant qu’expert en bâtiment, il vous donne par ailleurs des conseils avisés. Cette démarche vous permet de sécuriser l’achat et d’identifier les éventuelles anomalies structurelles.</p>
<script type='text/javascript' src='//pl22435146.profitablegatecpm.com/49/66/53/496653e0e37e3a1f6d9f7e7fc6f21bd1.js'></script>
<h2>Trouvez l’expert qui convient à vos besoins</h2>
<p>Optez pour un professionnel qui possède une longue expérience dans le secteur du bâtiment et une solide formation technique. Pour ce faire, renseignez-vous sur son parcours et ses qualifications avant de prendre votre décision. L’indépendance est aussi un critère de choix essentiel. Cet élément clé assure l’objectivité et la validité des conclusions face aux parties en présence.</p>
<p>Le demandeur doit vérifier les autorisations du prestataire. En France, pour qu’une personne intervienne dans les conflits liés au bâtiment, il est exigé qu’il soit inscrit sur la liste des experts judiciaires. Ce statut garantit son savoir-faire, sa neutralité et son respect des règles de déontologie de la profession.</p>
<script async="async" data-cfasync="false" src="//pl22316280.profitablegatecpm.com/02a6e6a5eddbfb6dae3854f5d253716d/invoke.js"></script>
<div id="container-02a6e6a5eddbfb6dae3854f5d253716d"></div>
<p>Les recommandations de clients satisfaits, les avis sur internet ainsi que dans les canaux dédiés et les références de missions antérieures peuvent vous aider à avoir une idée sur la qualité de son travail. L’aspect financier est aussi important. Les honoraires doivent être clairement indiqués et conformes au marché. Avant toute intervention, demandez une estimation précise des frais ou un devis complet.</p>
<img decoding="async" style="margin-left: auto;margin-right: auto" src="https://example.com/expert-image.jpg" alt="Expert en bâtiment agréé">
<h2>Les avantages de faire appel à un expert d’assuré et non d’assurance</h2>
<p>Le professionnel d’assuré travaille exclusivement pour le compte du bénéficiaire et lui garantit une impartialité sans faille. Sa mission consiste à défendre les intérêts de son client face à la compagnie. L’expert d’assurance, par opposition, mandaté par la société de police, minimise la valeur des dommages pour réduire le montant de l’indemnisation.</p>
<script type="text/javascript">
	atOptions = {
		'key' : '243320b5ced23d49aca004c439cabed6',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/243320b5ced23d49aca004c439cabed6/invoke.js"></scr' + 'ipt>');
</script>
<p>L’intervention d’un spécialiste d’assuré favorise une prise en compte exhaustive de tous les préjudices subis. Ils peuvent être :</p>
<ul>
    <li>matériels,</li>
    <li>immatériels,</li>
    <li>économiques.</li>
</ul>
<script type="text/javascript">
	atOptions = {
		'key' : '2c7b810f5e9a37d1301226060eca117c',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/2c7b810f5e9a37d1301226060eca117c/invoke.js"></scr' + 'ipt>');
</script>
<p>Il veille également au respect scrupuleux de tous les éléments du dossier. Il offre par ailleurs un accompagnement personnalisé à chaque étape du processus de dédommagement. Il conseille, informe et soutient son client depuis la déclaration du sinistre jusqu’à l’obtention des frais de recouvrement.</p>
</div>

</main>

  <!-- 
    - #FOOTER
  -->

<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='/images/logo-light.png') }}" alt="Homeverse logo">
          </a>

          <p class="section-text">
            Évaluez le coût de construction de votre maison en un clic, rapidement et gratuitement.
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>Paris, France</address>
              </a>
            </li>

            <li>
              <a href="tel:+0123456789" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+0123-456789</span>
              </a>
            </li>

            <li>
              <a href="mailto:contact@homeverse.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>contact@homeverse.com</span>
              </a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>

            <li>
              <a href="#" class="footer-link">All Products</a>
            </li>

            <li>
              <a href="#" class="footer-link">Locations Map</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>

            <li>
              <a href="#" class="footer-link">Promotional Offers</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>


  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
<script>
    function updateImage() {
        // Get the selected value from the "Limites de hauteur de bien" dropdown
        const selectedOption = document.getElementById("limitesHauteur").value;

        // Define a mapping of options to image sources
        const imageSources = {
            "fondation": "{{ url_for('static', filename='fondation.jpeg') }}",
            "rdc": "{{ url_for('static', filename='RDC.jpeg') }}",
            "r+1etage": "{{ url_for('static', filename='RDC+1etage.jpeg') }}",
            "r+2etage": "{{ url_for('static', filename='RDC+2etage.jpeg') }}",
            "r+3etage": "{{ url_for('static', filename='RDC+3etage.jpeg') }}",
            "r+4etage": "{{ url_for('static', filename='RDC+4etage.jpeg') }}",
            "r+5etage": "{{ url_for('static', filename='RDC+5etage.jpeg') }}",
            "r+6etage": "{{ url_for('static', filename='RDC+6etage.jpeg') }}",
            "soussoul+r": "{{ url_for('static', filename='sous+sol+RDC.jpeg') }}",
            "soussoul+1etage": "{{ url_for('static', filename='soussol+RDC+1etage.jpeg') }}",
            "soussoul+2etage": "{{ url_for('static', filename='SOUS_sol+RDC+2etage.jpeg') }}",
            "soussoul+3etage": "{{ url_for('static', filename='sous+sol+RDC+3etage.jpeg') }}",
            "soussoul+4etage": "{{ url_for('static', filename='soussol+RDC+4etage.jpeg') }}",
            "soussoul+5etage": "{{ url_for('static', filename='sousso+rdc+5 etage.jpeg') }}",
            "soussoul+6etage": "{{ url_for('static', filename='sous+sol+RDC+6etage.jpeg') }}"
        };

        // Get the image element
        const dynamicImage = document.getElementById("dynamicImage");

        // Update the image source based on the selected option
        if (imageSources[selectedOption]) {
            dynamicImage.src = imageSources[selectedOption];
        } else {
            // If no matching source found, you can set a default image or display an error message
            dynamicImage.src = "{{ url_for('static', filename='construction.webp') }}";
        }
        var zipcode = document.getElementById('zipcode').value;
        const terrain = document.getElementById('terrain').value;
        const surface = document.getElementById('surface').value;
        const plans = document.getElementById('plans').value;
        const num_facades = document.getElementById('numFaçades').value;
        const limites_hauteur = document.getElementById('limitesHauteur').value;
        const type_bien = document.getElementById('typeBien').value;
        const type_Localisation = document.getElementById('typeLocalisation').value;

        // You can send the input value to Python using an AJAX request or another method of your choice
        // Here, we'll just display the value in the console as an example
        // Create a data object
        const data = {
            zipcode,
            terrain,
            surface,
            plans,
            num_facades,
            limites_hauteur,
            type_bien,
            type_Localisation,
        };

        // Send the data to the server
        fetch('/calculate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(result => {
            // Handle the server response here (e.g., update the UI with the result)
            console.log('Server response:', result);
            // Update the HTML values
            document.getElementById('value1').textContent = result.value1;
            document.getElementById('value2').textContent = result.value2;
            document.getElementById('value3').textContent = result.value3;
            document.getElementById('value4').textContent = result.value4;
            document.getElementById('value5').textContent = result.value5;
            document.getElementById('value6').textContent = result.value6;
            document.getElementById('value7').textContent = result.value7;
            document.getElementById('value8').textContent = result.value8;
            document.getElementById('value9').textContent = result.value9;
            document.getElementById('value10').textContent = result.value10;
            document.getElementById('value11').textContent = result.value11;
            document.getElementById('value12').textContent = result.value12;
            document.getElementById('value13').textContent = result.value13;
            document.getElementById('value14').textContent = result.value14;
            document.getElementById('value15').textContent = result.value15;
            document.getElementById('value16').textContent = result.value16;
            document.getElementById('value17').textContent = result.value17;
            document.getElementById('value18').textContent = result.value18;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    window.onload = updateImage;
    const sellingTab = document.getElementById("selling");
    const rentingTab = document.getElementById("renting");
    const htmlBlock1 = document.getElementById("htmlBlock1");
    const htmlBlock2 = document.getElementById("htmlBlock2");
    sellingTab.addEventListener("click", () => {
      // Activate selling tab
      sellingTab.setAttribute("aria-selected", "true");
      sellingTab.classList.add("active");

      // Deactivate renting tab
      rentingTab.setAttribute("aria-selected", "false");
      rentingTab.classList.remove("active");

      // Show HTML block 1 and hide block 2
      htmlBlock1.style.display = "block";
      htmlBlock2.style.display = "none";
    });

    rentingTab.addEventListener("click", () => {
      // Activate renting tab
      rentingTab.setAttribute("aria-selected", "true");
      rentingTab.classList.add("active");

      // Deactivate selling tab
      sellingTab.setAttribute("aria-selected", "false");
      sellingTab.classList.remove("active");

      // Show HTML block 2 and hide block 1
      htmlBlock1.style.display = "none";
      htmlBlock2.style.display = "block";
    });

    document.getElementById("submitButton").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent form submission

    const feedbackValue = document.getElementById("feedback").value;
    const ratingLabels = document.querySelectorAll('input[name="rating"]:checked');
    const selectedRating = ratingLabels.length > 0 ? ratingLabels[0].value : null;

    if (selectedRating && feedbackValue) {
      console.log("Rating:", selectedRating);
      console.log("Feedback message:", feedbackValue);
      fetch('/submit_feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    rating: selectedRating,
                    feedback: feedbackValue
                })
            })
      .then(response => response.json())
      .then(data => {
                // Handle the response from the server if needed
                console.log(data);
            })
      .catch(error => {
                console.error('Error:', error);
            });
      // Hide htmlBlock3 and display htmlBlock4
      document.getElementById("htmlBlock3").style.display = "none";
      document.getElementById("htmlBlock4").style.display = "block";
    } else {
      console.log("Please select a rating and provide feedback.");
    }
    });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#contactForm').submit(function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            
            $.ajax({
                type: 'POST',
                url: '/contact',
                data: formData,
                success: function(response){
                    console.log(response);
                    // Handle success (e.g., display a success message)
                },
                error: function(error){
                    console.log(error);
                    // Handle error
                }
            });
        });
    });
</script>
<script>
  function scrollToSection() {
    const welcomeInputsSection = document.getElementById('welcomeInputsSection');
    if (welcomeInputsSection) {
      welcomeInputsSection.scrollIntoView({ behavior: 'smooth' });
    }
  }
</script>
</html>
