<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guide Complet sur les Matériaux de Construction : Choix, Utilisation et Durabilité</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  -->
  
   <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">


  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li>
            <a href="mailto:info@homeverse.com" class="header-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@homeverse.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>15/A, Nest Tower, NYC</address>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>

          <button class="header-top-btn">Add Listing</button>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Homeverse logo">
        </a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Homeverse logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="https://www.profitablegatecpm.com/kyarfcv72p?key=346d33f9608dc747349c98c052b144ca" class="navbar-link" data-nav-link>Application</a>
              </li>

              <li>
                <a href="#about" class="navbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="navbar-link" data-nav-link>Service</a>
              </li>

              <li>
                <a href="#property" class="navbar-link" data-nav-link>Property</a>
              </li>

              <li>
                <a href="blog" class="navbar-link" data-nav-link>Blog</a>
              </li>

              <li>
                <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">

          <button class="header-bottom-actions-btn" aria-label="Search">
            <ion-icon name="search-outline"></ion-icon>

            <span>Search</span>
          </button>

          <button class="header-bottom-actions-btn" aria-label="Profile">
            <ion-icon name="person-outline"></ion-icon>

            <span>Profile</span>
          </button>

          <button class="header-bottom-actions-btn" aria-label="Cart">
            <ion-icon name="cart-outline"></ion-icon>

            <span>Cart</span>
          </button>

          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>

<main>
   <script type="text/javascript">
	atOptions = {
		'key' : '2c7b810f5e9a37d1301226060eca117c',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/2c7b810f5e9a37d1301226060eca117c/invoke.js"></scr' + 'ipt>');
</script>

<article class="post-13638 page type-page status-publish has-post-thumbnail hentry category-construction" id="post-13638" style="height: auto !important;">
<header class="entry-header">

<div class="breadcrumb">
    <a href="">Accueil</a>&nbsp;&gt;&nbsp;
    <a href="">Construction</a></div>
<h1 class="entry-title">Quels sont les critères de choix des matériaux de construction ?</h1>
</header>

    <p>La concrétisation d’un projet de construction est l’un des investissements les plus importants sur le long terme. C’est pour cette raison que les architectes et divers artisans qui travaillent sur un chantier mettent l’accent sur le choix des matériaux.</p>

    <p>Autrement dit, pour assurer la longévité et la beauté d’un bâtiment, il faut choisir les bons matériaux. Mais comment s’y prendre ? Dans cet article, découvrez quelques éléments de réponses.</p>

    <h2>Les caractéristiques techniques</h2>

    <p>L’un des critères de choix les plus importants est la résistance des matériels face aux diverses agressions. En réalité, c’est la fermeté du matériel qui permettra de déterminer sa durée de vie. Alors, aussi onéreux soit-il, il est impératif d’investir dans des matières qui favoriseront la pérennité de l’ouvrage.</p>
<script async="async" data-cfasync="false" src="//pl22316280.profitablegatecpm.com/02a6e6a5eddbfb6dae3854f5d253716d/invoke.js"></script>
<div id="container-02a6e6a5eddbfb6dae3854f5d253716d"></div>
    <p>De façon concrète, vous pourriez opter par exemple pour un produit Sika étanchéité afin de lutter contre l’humidité chez vous. Aussi, il faut s’assurer que l’ouvrage offre une meilleure ténacité face aux tempêtes, aux incendies et à la chaleur extrême.</p>

    <p>Par ailleurs, il serait judicieux de tenir compte des aléas climatiques de votre région pour choisir les matériaux de construction. Pour exemple, notez que le bois ne convient pas aux zones humides.</p>

    <h2>Les performances énergétiques</h2>

    <p>Au-delà des aspects techniques, il convient également de sélectionner les matériaux en misant sur le résultat final de l’ouvrage. Autrement dit, les matières à utiliser pour une construction doivent être choisies de façon à offrir un confort au sein de l’édifice.</p>

    <p>Lors des achats, optez donc pour des matériaux qui possèdent d’excellents coefficients d’isolation énergétique. C’est ainsi que vous pourrez limiter (voire empêcher) les pertes thermométriques en saison froide ou chaude. De plus, cet indice favorisera la longévité du bâtiment.</p>
<script type="text/javascript">
	atOptions = {
		'key' : '243320b5ced23d49aca004c439cabed6',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/243320b5ced23d49aca004c439cabed6/invoke.js"></scr' + 'ipt>');
</script>

    <h2>L’aspect esthétique</h2>

    <img src="Briques.jpg" alt="Briques" />

    <p>Si les critères énergétiques et techniques sont écartés, il faut également penser au rendu esthétique du bâtiment. Ici, vous devez laisser libre cours à votre imagination pour jouer sur l’aspect final de la bâtisse. Il n’y a donc pas de règles fixes, car tout dépend des goûts. De façon générale et selon vos désirs, vous trouverez dans le commerce des matériaux de finition comme :</p>

    <ul>
        <li>le bois ;</li>
        <li>l’acier ;</li>
        <li>la pierre ;</li>
        <li>ou le béton.</li>
    </ul>

    <h3>Le bois</h3>

    <p>C’est le choix par excellence pour une œuvre écologique. À cause des nombreux avantages qu’il offre, il se fait de plus en plus présent dans la construction des maisons. En effet, au-delà de l’aspect esthétique, il permet de créer chez soi une atmosphère qui rapproche davantage de la nature. En outre, il est très facile à travailler pour les artisans, et peut être choisi brut ou travaillé.</p>

    <h3>La pierre</h3>

    <p>Les principales caractéristiques dont elle revêt sont l’aspect naturel et la robustesse. Par conséquent, elle s’inscrit au rang des matériaux durables, et ne nécessite aucun traitement comme dans le cas du bois. Son utilisation dans la construction des maisons est aussi vieille que le monde, et elle a la particularité d’apporter originalité et authenticité à une demeure.</p>
<script type="text/javascript">
	atOptions = {
		'key' : '2c7b810f5e9a37d1301226060eca117c',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/2c7b810f5e9a37d1301226060eca117c/invoke.js"></scr' + 'ipt>');
</script>
    <h3>L’acier</h3>

    <p>Pour un investissement sur le long terme, il est conseillé d’opter pour de l’acier. Sa robustesse fait de lui un matériau parfaitement adapté à l’élaboration des armatures. Livré sous des formes variées (plat, rond, en T, en U, etc.), l’acier s’utilise dans chaque construction selon les besoins. Toutefois, il peut être utilisé pour des travaux de rénovation ou de bricolage.</p>

    <h3>Le béton</h3>
<script type='text/javascript' src='//pl22435146.profitablegatecpm.com/49/66/53/496653e0e37e3a1f6d9f7e7fc6f21bd1.js'></script>
    <p>Il s’emploie pour les fondements, la toiture et les murs ; ce qui justifie sa grande employabilité dans le domaine architectural. Facile à travailler et très abordable, il a également l’avantage d’être livré en plusieurs variétés. Lorsque vous optez pour du béton de type cellulaire, vous assurerez systématiquement de la performance énergétique du bâtiment.</p>
<script async="async" data-cfasync="false" src="//pl22316280.profitablegatecpm.com/02a6e6a5eddbfb6dae3854f5d253716d/invoke.js"></script>
<div id="container-02a6e6a5eddbfb6dae3854f5d253716d"></div>
</main>

  <!-- 
    - #FOOTER
  -->

<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='/images/logo-light.png') }}" alt="Homeverse logo">
          </a>

          <p class="section-text">
            Évaluez le coût de construction de votre maison en un clic, rapidement et gratuitement.
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>Paris, France</address>
              </a>
            </li>

            <li>
              <a href="tel:+0123456789" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+0123-456789</span>
              </a>
            </li>

            <li>
              <a href="mailto:contact@homeverse.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>contact@homeverse.com</span>
              </a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>

            <li>
              <a href="#" class="footer-link">All Products</a>
            </li>

            <li>
              <a href="#" class="footer-link">Locations Map</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>

            <li>
              <a href="#" class="footer-link">Promotional Offers</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>


  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
<script>
    function updateImage() {
        // Get the selected value from the "Limites de hauteur de bien" dropdown
        const selectedOption = document.getElementById("limitesHauteur").value;

        // Define a mapping of options to image sources
        const imageSources = {
            "fondation": "{{ url_for('static', filename='fondation.jpeg') }}",
            "rdc": "{{ url_for('static', filename='RDC.jpeg') }}",
            "r+1etage": "{{ url_for('static', filename='RDC+1etage.jpeg') }}",
            "r+2etage": "{{ url_for('static', filename='RDC+2etage.jpeg') }}",
            "r+3etage": "{{ url_for('static', filename='RDC+3etage.jpeg') }}",
            "r+4etage": "{{ url_for('static', filename='RDC+4etage.jpeg') }}",
            "r+5etage": "{{ url_for('static', filename='RDC+5etage.jpeg') }}",
            "r+6etage": "{{ url_for('static', filename='RDC+6etage.jpeg') }}",
            "soussoul+r": "{{ url_for('static', filename='sous+sol+RDC.jpeg') }}",
            "soussoul+1etage": "{{ url_for('static', filename='soussol+RDC+1etage.jpeg') }}",
            "soussoul+2etage": "{{ url_for('static', filename='SOUS_sol+RDC+2etage.jpeg') }}",
            "soussoul+3etage": "{{ url_for('static', filename='sous+sol+RDC+3etage.jpeg') }}",
            "soussoul+4etage": "{{ url_for('static', filename='soussol+RDC+4etage.jpeg') }}",
            "soussoul+5etage": "{{ url_for('static', filename='sousso+rdc+5 etage.jpeg') }}",
            "soussoul+6etage": "{{ url_for('static', filename='sous+sol+RDC+6etage.jpeg') }}"
        };

        // Get the image element
        const dynamicImage = document.getElementById("dynamicImage");

        // Update the image source based on the selected option
        if (imageSources[selectedOption]) {
            dynamicImage.src = imageSources[selectedOption];
        } else {
            // If no matching source found, you can set a default image or display an error message
            dynamicImage.src = "{{ url_for('static', filename='construction.webp') }}";
        }
        var zipcode = document.getElementById('zipcode').value;
        const terrain = document.getElementById('terrain').value;
        const surface = document.getElementById('surface').value;
        const plans = document.getElementById('plans').value;
        const num_facades = document.getElementById('numFaçades').value;
        const limites_hauteur = document.getElementById('limitesHauteur').value;
        const type_bien = document.getElementById('typeBien').value;
        const type_Localisation = document.getElementById('typeLocalisation').value;

        // You can send the input value to Python using an AJAX request or another method of your choice
        // Here, we'll just display the value in the console as an example
        // Create a data object
        const data = {
            zipcode,
            terrain,
            surface,
            plans,
            num_facades,
            limites_hauteur,
            type_bien,
            type_Localisation,
        };

        // Send the data to the server
        fetch('/calculate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(result => {
            // Handle the server response here (e.g., update the UI with the result)
            console.log('Server response:', result);
            // Update the HTML values
            document.getElementById('value1').textContent = result.value1;
            document.getElementById('value2').textContent = result.value2;
            document.getElementById('value3').textContent = result.value3;
            document.getElementById('value4').textContent = result.value4;
            document.getElementById('value5').textContent = result.value5;
            document.getElementById('value6').textContent = result.value6;
            document.getElementById('value7').textContent = result.value7;
            document.getElementById('value8').textContent = result.value8;
            document.getElementById('value9').textContent = result.value9;
            document.getElementById('value10').textContent = result.value10;
            document.getElementById('value11').textContent = result.value11;
            document.getElementById('value12').textContent = result.value12;
            document.getElementById('value13').textContent = result.value13;
            document.getElementById('value14').textContent = result.value14;
            document.getElementById('value15').textContent = result.value15;
            document.getElementById('value16').textContent = result.value16;
            document.getElementById('value17').textContent = result.value17;
            document.getElementById('value18').textContent = result.value18;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    window.onload = updateImage;
    const sellingTab = document.getElementById("selling");
    const rentingTab = document.getElementById("renting");
    const htmlBlock1 = document.getElementById("htmlBlock1");
    const htmlBlock2 = document.getElementById("htmlBlock2");
    sellingTab.addEventListener("click", () => {
      // Activate selling tab
      sellingTab.setAttribute("aria-selected", "true");
      sellingTab.classList.add("active");

      // Deactivate renting tab
      rentingTab.setAttribute("aria-selected", "false");
      rentingTab.classList.remove("active");

      // Show HTML block 1 and hide block 2
      htmlBlock1.style.display = "block";
      htmlBlock2.style.display = "none";
    });

    rentingTab.addEventListener("click", () => {
      // Activate renting tab
      rentingTab.setAttribute("aria-selected", "true");
      rentingTab.classList.add("active");

      // Deactivate selling tab
      sellingTab.setAttribute("aria-selected", "false");
      sellingTab.classList.remove("active");

      // Show HTML block 2 and hide block 1
      htmlBlock1.style.display = "none";
      htmlBlock2.style.display = "block";
    });

    document.getElementById("submitButton").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent form submission

    const feedbackValue = document.getElementById("feedback").value;
    const ratingLabels = document.querySelectorAll('input[name="rating"]:checked');
    const selectedRating = ratingLabels.length > 0 ? ratingLabels[0].value : null;

    if (selectedRating && feedbackValue) {
      console.log("Rating:", selectedRating);
      console.log("Feedback message:", feedbackValue);
      fetch('/submit_feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    rating: selectedRating,
                    feedback: feedbackValue
                })
            })
      .then(response => response.json())
      .then(data => {
                // Handle the response from the server if needed
                console.log(data);
            })
      .catch(error => {
                console.error('Error:', error);
            });
      // Hide htmlBlock3 and display htmlBlock4
      document.getElementById("htmlBlock3").style.display = "none";
      document.getElementById("htmlBlock4").style.display = "block";
    } else {
      console.log("Please select a rating and provide feedback.");
    }
    });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#contactForm').submit(function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            
            $.ajax({
                type: 'POST',
                url: '/contact',
                data: formData,
                success: function(response){
                    console.log(response);
                    // Handle success (e.g., display a success message)
                },
                error: function(error){
                    console.log(error);
                    // Handle error
                }
            });
        });
    });
</script>
<script>
  function scrollToSection() {
    const welcomeInputsSection = document.getElementById('welcomeInputsSection');
    if (welcomeInputsSection) {
      welcomeInputsSection.scrollIntoView({ behavior: 'smooth' });
    }
  }
</script>
</html>
